body{
    /* BOLOR HUNT https://colorhunt.co/ */
    
    margin: 0px;
    font-family: 'Mulish', sans-serif;
}
.header{
    background-color: #9dad7f;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;  AQUI ESTA EL PEDO, QUEDAN MEDIO DESFAZADOS*/
}

.header__img{
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
    
}

.header__menu{
    margin-right: 30px;
    align-items: center;
}

.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px --14px;
}

.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li{
    margin: 10px 0px;
}

.header__menu li a{
    color: white;
    text-decoration: none;
}

.header__menu li a:hover{
    text-decoration: underline;
}

.header__menu--profile{
    margin-top: 8px; /*esta es una linea extra por alguna razon no me quedo como en el tuto*/
    margin-right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__menu--profile img{
    margin-right: 8px;
    width: 50px;
}

.header__menu--profile p{
    margin: 0px;
    color: white;
}

.login{
    background: linear-gradient(#9dad7f, #e8eae6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);/* AGREGA UN ALTO, PORMAS GRANDE QUE SEA EL ALTO SIEMPRE ESTE VA A SER EL VALOR MINIMO, UTILIZA UNA OPERACION MATEMATTICOS BASANDOSE EN LA PANTALLA DEL USUARIO   */
}

.login__container{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 500px;
    width: 300px;
    /* Este trip fue clave para acomdar todo el pedo*/
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.login__container--form{
    display: flex;
    flex-direction: column;
}

.login__container--form label{
    font-size: 14px;
}

.login__container--remember-me{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.login__container--remember-me a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover{
    text-decoration: underline;
}

/*de esta manera nos podemos referir a todos los div dentro de social media */
.login__container--social-media >div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media >div >img{
    width: 30px;
    margin-right: 10px;
}

.login__container--register{
    font-size: 14px;
}

.login__container--register a{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register a:hover{
    text-decoration: underline;
}

.login__container--login{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.login__container--login a{
    text-decoration: none;
    color: white;
}

.login__container--login a:hover{
    text-decoration: underline;
}

.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder{
    color: white;
}

.button{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
    outline: none;
}
.footer{
    background-color: #e8eae6;
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
}

.footer a{
    color: #557174;
    cursor: pointer;
    font-size: 15px;
    padding-left: 30px;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover{
    text-decoration: underline;
}

/* CSS MEDIA QUERY*/
@media only screen and (max-width: 600px){
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .footer{
        align-items: flex-start;
        flex-direction: column;
    }
}

/*MOBILE FIRST SIEMPRE*/