*{
    margin: 0;
    padding: 0;
}

body {
    background: 
      radial-gradient(black 3px, transparent 4px),
      radial-gradient(black 3px, transparent 4px),
      linear-gradient(#fff 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    font-family: 'Manjari', sans-serif;
  }

  .title h1{
      padding: 20px 0;
      text-align: center;
      font-size: 2.9em;
      text-transform: uppercase;
  }

  .container{
      background-color: white;
      width: 90%;
      max-width: 1000px;
      margin: 1.6em auto;
      display: grid;
      gap: 1.6em;
      grid-template-columns: repeat(5, 1fr);/* para crear 5 columnas */
  }

  .container > .header,
  .container > .content,
  .container > .sidebar,
  .container > .footer,
  .container > div{
      background: #fff;
      padding: 20px;
      border: 1px solid #000000;
      border-radius: 5px;
  }

  .container .header, .container .footer{
      grid-column: 1/6;
      background-color: #1e272e;
      color: white;
  }

  .container .content{
      grid-column: 1/4;
      /* grid-column: span 3;   tambien se puede utiliZar span para solo asignar las columnas que cubre*/
      /* display: flex;
      flex-direction: column;
      justify-content:space-between; usando felxbox*/
  }

  .container .sidebar{
      grid-column: 4/6;
      /* grid-column: span 2; */
      background: #485460;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  /*  DESPUES DE ACOMODAR ESTOS DOS ULTIMAS TODO EL GRID SE ACOMODA POR SI MISMO*/

  .content article{
      background: #808e9b;
      padding: 20px;
      margin-top: 5px;
      color: #dfe6e9;
  }

  .container > .related-post{
      background: #2d3436;
      color: #ffffff;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease ;    
  }

  .container > .related-post:hover{
      cursor: pointer;
      color: #000000;
      background-color: #ffffff;
}
  .content article h1,
  .content article p{
      padding: 10px;
  }
  
  .image{
      /*height: 200px;
      width: 300px;*/
      width: 100%;
      margin-top: 5px;

  }

  /*USO DE MEDIA QUERIS PARA HACER RESPONSIVO ESTE LAYOUT */

  @media screen and (max-width: 768px){
      /*body{
          background: #000000;
          Esta tecnica siver para saber si e media query esta detectando que cambiaste a pantalla de menor tamaño 
      }*/
      .header{
          text-align: center;
      }

      .container .content{
          grid-column: 1/-1;
      }

      .container .sidebar{
          grid-column: 1/6;
      }

      .container .related-post{
          grid-column: 1/-1;
        }

      /* EL 1/-1 INDICA QUE LA IMAGEN VA ABARCAR TODA LA GRILLA CUANDO NO SABES EL NUMERO CONCRETO DE ELEMENTOS */


  }